extends ../layout/index
block contenido
    main.container.mt-5 
        .row
            .col-md-5
               img.img-fluid(src="img/nosotros.jpg",alt="Imagen de nosotros")
            .col-md-7
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus congue ex quam, in lobortis magna suscipit
                 mattis dui ac augue mattis consequat id non diam. Morbi id tincidunt lacus.  
                p Sed facilisis, dolor id congue tristique, nisl tellus rhoncus magna, eu interdum nisi massa pulvinar magna. 
                 Aliquam non felis massa. Quisque mauris neque, vehicula at dictum ac,mattis eget libero. Donec eu congue nulla, sit amet aliquet libero. Mauris malesuada
                p scelerisque elit. Donec fringilla est nec interdum ultricies. Duis neque ipsum, bibendum et finibus eu, Pellentesque lacinia tortor in ante aliquam efficitur. Praesent facilisis non justo a feugiat. Sed luctus tellus lectus, in auctor nisi congue dictum. 
    .listado-iconos
        .container.mt-5.py-5.text-center    
            .row    
                .col-md-4
                    img(src="img/icono_seguridad.svg", class="img-fluid" alt="")
                    h2.mb-4 Seguridad
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                .col-md-4
                    img(src="img/icono_destinos.svg", class="img-fluid" alt="")
                    h2.mb-4 Destinos
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                .col-md-4
                    img(src="img/icono_precios.svg", class="img-fluid" alt="")
                    h2.mb-4 Precios
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit.